html,body
{
    height:100%;
    width:100%;
}
*
{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
}
  .container
 {
    background-color:white;
    width: 100%;
    height: 100%;
 }
.div1
{
    height: 50%;
    width:100%;
    background-color: #f3ead4;
    position: relative;
}
.subdiv1
{
    height: 100%;
    width:50%;
    float:left;
}
.rentoimage
{
float: left;
padding: 23px;
}
.header
{
    margin: 0 116px 0 5px;
    padding: 65px 0 0 ;
    padding-left: 160px;
    line-height: 1.5;
    font-family: PlayfairDisplay;
    font-size: 30px;
    align-content: center;
}
.productholder
{
    padding-left: 165px;
    line-height: 1.5;
    font-size: 15px;
    font-family:Poppins-medium;
}
.subdiv2
{
    height: 100%;
    width:50%;
    float:right;
}
button.loginbutton {
    float: right;
    height: 2rem;
    width: 5rem;
    background-color: #f3ead4;
    border-radius: 1rem;
    border-color: #000000;
    font-family:Poppins-medium;
    padding:5px;
    margin: 1rem;
}
.search-container
{
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    bottom:0%;
    border-radius: 2rem;
    margin: 0 0 -30 130;
    width: 70%;
    font-family: Poppins;
    padding: 5px;
}

.location
{
    width:4rem;
    height: 2rem;
    margin: 8px;
    padding-top:5px;
}
img.locationimage
{
    padding-top: 10px;
}
img.pathimg
{
    padding-top: 20px;
}
.searchbar {
    width: 40rem;
    margin: 10px;
    border: none;
    padding-left: 20px;
    color: #999999;
   }
label {
    padding-top: 15px;
}
.searchbutton
{
    background-color: #772360;
    color: #ffffff;
    border-radius: 18px;
    padding: 3px;
    padding-bottom: 15px;
    float:right;
    margin: 10px;
    height: 2rem;
    width:9rem;
    border:0;
}
.img.searchbutton
{
    padding-top: 5px;
}
.radiobutt {
    margin: 1rem;
}
.div2{
    display: flex;
    align-items: center;
    width:100%;
    height: 50%;
}
.openarrow
{
margin: 85 0 0 0;
}
.closearrow
{
    margin: 85 0 0 0;
}
.slideheader{
font-family: PlayfairDisplay;
  font-size: 18px;
}
.items
{
    width:50%;
    height: 75%;
    margin: 40px 64px 0 40px;
    padding: 0 0 60px;
    border-radius: 12px;
    border: solid 1px rgba(39, 166, 166, 0.3);
    background-color:#ffffff;
    font-family: Poppins;
    font-size: 12px;
    padding:10 10 15 25;
}
.subdiv4
{
    width:25%;
    height: 100%;
    margin: 79px 64px 0 40px;
    padding: 0 0 60px;
    border-radius: 12px;
    border: solid 1px rgba(241, 158, 94, 0.3);
    background-color:#ffffff;
    font-family: Poppins;
    font-size: 12px;
    padding:10 10 15 25;
}
.subdiv5
{
    width:25%;
    height: 100%;
    margin: 79px 64px 0 40px;
    padding: 0 0 60px;
    border-radius: 12px;
    border: solid 1px rgba(204, 93, 106, 0.3);
    background-color:#ffffff;
    font-family: Poppins;
    font-size: 12px;
    padding:10 10 15 25;
}
.subdiv6
{
    width:25%;
    height: 100%;
    margin: 79px 64px 0 40px;
    padding: 0 0 60px;
    border-radius: 12px;
    border: solid 1px rgba(39, 166, 166, 0.3);
    background-color:#ffffff;
    font-family: Poppins;
    font-size: 12px;
    padding:10 10 15 25;
}