html,body
{
    height:100%;
    width:100%;
}
*
{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
}
  .container
 {
    background-color:white;
    width: 100%;
    height: 100%;
 }
 .div1
 {
     height: 20%;
     width:100%;
     text-align: center;
 }
 .logoimg
 {
     float:left;
     margin: 1rem;
}
.search-container
{
    display: inline-flex;
    align-items: center;
    padding-left: 5rem;
    margin: 1rem;
}
ul
{
    float: right;
}
li{
    display: inline-block;
    margin: 5px;
}
.searchbutton
{
    border-radius: 50%;
    background-color:#772360 ;
}
.div2
{
    background-color:#ffffff;
    height: 80%;
    width:100%;
}

h3.headproperty
{
    float:left;
    background-color: #ffffff;
    width: 100%;
}

.subdiv1
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.deleteimag
{
    padding-right: 5px;
}.subdiv3
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.subdiv5
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.subdiv7
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.subdiv2
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.subdiv4
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.subdiv6
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.subdiv8
{
    float: left;
    height: 20%;
    width:50%;
    border: 1px solid #f0f0f0;
}
.Line {
    width: 100%;
    height: 1%;
    border: solid 1px darkred;
}
.traditional
{
float: left;
}
.head
{
    display: inline-block;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}
.TraditionalHome
{
    float:left;
    height: 100%;
    width:40%;
    padding-left: 5px;
}
.oppbutt
{
    height: 100%;
    width:35%;
    float:right;
}
.amount{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  float: right;
}
.place
{
    padding-left:10px;
    font-family: Poppins;
   font-size: 14px;
   
}
.optionalbutton
{
    margin: 6px;
    color: #666666;
}
.editbutton
{
    float: right;
    margin: 1px 0px -6px -9px;
    border: 0;
    color: #772360;
    padding-left: 3rem;
    padding-top: 1rem;
}
.viewbutton
{
    float: right;
    margin: 1px -100px -6px -9px;
    border: 0;
    color: #772360;
    padding-left: 3rem;
    padding-top: 1rem;

}
.deletebutton
{
    float:right;
    border-radius: 16px;
    border-color: #772360;
    font-family: Poppins;
    height: 20%;
    margin: 1rem;
    width: 7rem;
    color: #772360;
}